body{
  margin: 0;
  font-family: 'Silkscreen', cursive;
}

h1{
  padding-top: 20px;
  text-align: center;
}

#logo{
  display: flex;
  justify-content: center;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
  }

  nav{
    background: rgba(0, 0, 0, .5);
    text-align: right;
    padding: 20px;
    font-size: 20px;
  }

  .navbutton{
    padding: 20px;
}

a{
  color: rgb(255, 45, 175);
  text-decoration: none;
}
a:visited{
  color: rgb(255, 45, 115);
}